body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  .patient-home-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    background-color: #0078d4;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  header button {
    background-color: #0078d4;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
  }
  
  header button:hover {
    background-color: #005a9e;
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  aside {
    background-color: #f0f2f5;
    padding: 20px;
    width: 200px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Ensure the sidebar takes the full height */
    position: fixed; /* Fix the sidebar position */
    top: 0;
    left: 0;
    overflow-y: auto; /* Add scroll if content overflows */
  }
  
  aside button {
    background-color: #0078d4;
    border: none;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
  }
  
  aside button:hover {
    background-color: #005a9e;
  }
  
  section {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 220px; /* Add margin to account for the fixed sidebar */
  }