body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    padding-top: 25vh; /* 1/4th from the top */
}

.container {
    width: 400px;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 24px;
    font-weight: bold;
    color: black; /* Change text color to white */
}

.underline {
    width: 50px;
    height: 4px;
    background: #e80541;
    margin: 10px auto;
    border-radius: 2px;
}

.inputs {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
}

.input input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.input input:focus {
    border-color: #e80541;
}

.submit-container {
    display: flex;
    justify-content: center;
}

.submit, .login {
    width: 48%;
    padding: 10px;
    text-align: center;
    background: #e80541;
    color: black; /* Change text color to black for contrast */
    border-radius: 5px;
    cursor: pointer;
}

.submit-button {
    width: 100%;
    max-width: 200px; /* Optional: limit the max width */
    padding: 10px;
    text-align: center;
    background: #e80541;
    color: black; /* Change text color to black for contrast */
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}


.gray{
    background: #ddd;
    color: black; /* Change text color to black for contrast */
}

.input select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    background: white;
    color: black;
}

.input select:focus {
    border-color: #e80541;
}